APP_NAME=PiecesService
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8002

DB_CONNECTION=pgsql
DB_HOST=postgres_pieces
DB_PORT=5432
DB_DATABASE=pieces_db
DB_USERNAME=postgres
DB_PASSWORD=secret

# Debe ser idéntico al del Auth Service
JWT_SECRET=clave_super_secreta_compartida_cambiar_en_produccion
JWT_TTL=60